<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Website - About</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}"/>
</head>
<body>
    <h1>Condoleezza Gaynor</h1>
    <p>As a computer science student, I am deeply interested in the ways that technology can be used to solve complex problems and improve people's lives. 
    With a curious and open mind, I am always looking to expand my knowledge and skills, and to make a positive impact in the world.
    </p>
    <img src="{{ url_for('static', filename='ocean.jpg') }}" alt = "picture of oceans crossing"/>
</body>
</html>